.button-wrapper {
  background: pink;
  display: flex;
  flex-direction: column;
  height: 100vh;

  button {
    height: 12.5%;
    font-size: 30px;
    border: none;
    cursor: pointer;
  }
}

.time {
  position: absolute;
  background-color: #c5c5c5;
  padding: 5px 10px;
  border-radius: 15px;
  margin: 10px;
  font-style: italic;
}
